{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% if glass_list %}
<link rel="stylesheet" type="text/css" href="{% static 'css/glass.css' %}" />

	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-inner">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'envelope:index' %}">Glazing</a></li>
				<li><a href="{% url 'lighting:index' %}">Insulation</a></li>
				<li><a href="{% url 'lighting:index' %}">Shading</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
    <h4>Glass performance</h4>
        <div class="col-md-12" id="glass-scatter">
        </div>
        <div class="col-md-12" id="legend">
        </div>
    </div>
        
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Thickness[mm]</th>
				<th>Tsol</th>
				<th>Tvis</th>
				<th>Conductivity</th>
				<th>Rsol1</th>
				<th>Rsol2</th>
				<th>Rvis1</th>
				<th>Rvis2</th>
				<th>Emis1</th>
				<th>Emis2</th>
				<th>Manufacturer</th>
			</tr>
	    </thead>

		<tbody>    
		{% for glass in glass_list %}
			<tr>
				<td>{{glass.title}}</td>
				<td>{{glass.thickness|floatformat:2}}</td>
				<td>{{glass.tsol|floatformat:2}}</td>
				<td>{{glass.tvis|floatformat:2}}</td>
				<td>{{glass.conductivity|floatformat:2}}</td>
				<td>{{glass.rsol1|floatformat:2}}</td>
				<td>{{glass.rsol2|floatformat:2}}</td>
				<td>{{glass.rvis1|floatformat:2}}</td>
				<td>{{glass.rvis2|floatformat:2}}</td>
				<td>{{glass.emis1|floatformat:2}}</td>
				<td>{{glass.emis2|floatformat:2}}</td>
				<td>{{glass.manufacturer}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% else %}
	<p>No glass are available.</p>
{% endif %}

<script src="{% static 'vendor/js/d3_v4.js' %}"></script>
<script src="{% static 'js/glassScatter.js' %}"></script>
<script src="{% static 'vendor/js/jquery-2.2.3.min.js' %}"></script>

<script type="text/javascript">
    createGraph("{% static 'csv/glass.csv' %}");
</script>
{% endblock %}