<div class="main">
    <div class="container">
        <div class="row">
            <h3>Relation between LT and VLT</h3>
        </div>
        <div class="row">
            <glass-scatters data="glasses"></glass-scatters>
        </div>
        <div class="row">
            <h4>Table for Glass</h4>
        </div>
        <div class="row">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Lamp type</th>
                        <th>Consumption[W]</th>
                        <th>Flux[lm]</th>
                        <th>Efficacy[lm/W]</th>
                        <th>CRI</th>
                        <th>Color temperature[K]</th>
                        <th>Mercury contents[mg]</th>
                        <th>Manufacturer</th>
                    </tr>
                </thead>
                <tbody  ng-repeat="light in lightings">    
                    <tr>
                        <td>{{light.title}}</td>
                        <td>{{light.lamp_type}}</td>
                        <td>{{light.wattage}}</td>
                        <td>{{light.flux}}</td>
                        <td>{{light.efficacy}}</td>
                        <td>{{light.cri}}</td>
                        <td>{{light.color_temp}}</td>
                        <td>{{light.mercury}}</td>
                        <td>{{light.manufacturer}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>