{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/dc.css' %}" />

<div class = "container">
	<div class="row">
		<div class="col-md-4" id="cap">
			{{cap|safe}}
		</div>
		<div class="col-md-4" id="eirtemp">

		</div>
		<div class="col-md-4" id="eirplr">

		</div>
	</div>

</div>
<script src="{% static 'vendor/js/d3.js' %}"></script>
<script src="{% static 'vendor/js/dc.js' %}"></script>
<script src="{% static 'vendor/js/jquery-2.2.3.min.js' %}"></script>

<script type="text/javascript">
</script>
{% endblock %}