{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}" />
{% block content %}
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-inner">
	        <ul class="nav navbar-nav">
                <li><a href="{% url 'hvac:list' %}">List</a></li>
                <li><a href="{% url 'hvac:search' %}">Search</a></li>
				<li><a href="{% url 'hvac:search' %}">Upload</a></li>
			</ul>
		</div>
	</div>

    <div class="content container">
        <div class="row">
            <div id="scatter" style="width:1100px;height:500px;"></div>
        </div>
        <div class="row">
            <div id='hoverInfo'></div>
        </div>
        <div class="row">
            <div id="plr" style="width:1100px;height:500px;"></div>
		</div>
        <div class="row">
            <div id="cap" style="width:1100px;height:500px;"></div>
		</div>

    </div>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/plotly.js' %}"></script>
<script>
        $(document).ready(function(){
             plotly()
        })
</script>
{% endblock %}


