{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if lighting_list %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/dc.css' %}" />

<div class = "container">
	<div class = "row"><br>
		<div id="test1" class="col-lg-6">
			interactive graph
		</div>

		<div id="test2" class="col-lg-6">
			interactive graph
		</div>
	</div>
        
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Lamp type</th>
				<th>Consumption[W]</th>
				<th>Flux[lm]</th>
				<th>Efficacy[lm/W]</th>
				<th>CRI</th>
				<th>Color temperature[K]</th>
				<th>Mercury contents[mg]</th>
				<th>Manufacturer</th>
			</tr>
	    </thead>

		<tbody>    
		{% for light in lighting_list %}
			<tr>
				<td>{{light.title}}</td>
				<td>{{light.lamp_type}}</td>
				<td>{{light.wattage}}</td>
				<td>{{light.flux}}</td>
				<td>{{light.efficacy}}</td>
				<td>{{light.cri}}</td>
				<td>{{light.color_temp}}</td>
				<td>{{light.mercury}}</td>
				<td>{{light.manufacturer}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% else %}
	<p>No lights are available.</p>
{% endif %}
</div>
<script src="{% static 'vendor/js/d3.js' %}"></script>
<script src="{% static 'vendor/js/dc.js' %}"></script>
<script src="{% static 'vendor/js/crossfilter.js' %}"></script>
<script src="{% static 'js/lighting.js' %}"></script>
<script src="{% static 'vendor/js/jquery-2.2.3.min.js' %}"></script>

<script type="text/javascript">
	var chart1 = dc.scatterPlot("#test1");
	var chart2 = dc.scatterPlot("#test2");
	var data = "x,y,z\n" +
    "1,1,3\n" +
    "5,2,11\n" +
    readapi(data);
</script>
{% endblock %}